/* 
 SP BLACK - 191414
 SP GREEN - 1DB954
 D CYAN - #0088a9
*/


*{
  margin: 0;  
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  
}
nav{
    background: grey;
    width: 100%;
    height: 70px;
}

label.home{
    padding: 30px 30px;
    font-size: 35px;
    font-weight: bold;
    line-height: 70px;
    padding: 0px 40px;
}
label.home a{
    color: black;
}
nav ul{
    float: right;
    line-height:70px;
}
nav ul li{
    display: inline-block;
    padding: 0 40px;
    margin: 0 5px;
}
nav ul li a{
    color:navy;
}

.login{
    color:whitesmoke;
    font-size: 17px;
    font-weight:600;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.login:hover{
    color: #0088a9;
}

#loginb{
    border-radius: 17px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight:600;
    transition: all 0.3s ease 0s;
    background-color: #1DB954;
}

#loginb:hover{
    background-color: #156e34;
}

.tracks{
    color:whitesmoke;
    font-weight: 300px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

#tracksb{
    border-radius: 15px;
    padding: 6px 20px;
}

body{
    background-color: lightslategrey;
}