*{
  margin: 0;  
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  /* background-color: lightslategrey; */
}


<<<<<<< HEAD
=======

>>>>>>> a6187c1c1cb954a7155667796f73be608f79018f
.track{
color: brown;
}

.artist{
color: black;
<<<<<<< HEAD
=======
}



.track{
  color: brown;
}

.artist{
  color: black;
>>>>>>> a6187c1c1cb954a7155667796f73be608f79018f
}