<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/home_style.css">
    <link rel="stylesheet" href="static/style/tracks_style.css">
    <title>TRACKS</title>
</head>
<body>
    <nav>
        <label class="home"><a href="/">Home</a></label>
        <ul class="navLinks">
            <li><button class="tracks" id="tracksb"><a href="/tracks">Tracks</a></button></li>
            <li><button class="tracks" id="tracksb"><a href="/artists">Artists</a></button></li>
            <li><button class="login" id="loginb"><a href="/user">User</a></button></li>
        </ul>
    </nav>
        <ol>
            {% for idx, artist in result %}
            <li>
                {{idx+1}}. 
                <a class="track" href="{{artist['external_urls']['spotify']}}">{{artist['name']}} </a>
            </li>
            {% endfor %}
        </ol>
    
    
</body>
</html>
