<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style/home_style.css">
        <title>Home page</title>
    </head>
    <body>
        <nav>
            <label class="home"><a href="/">Home</a></label>
            <ul class="navLinks">
                <li><a href="/tracks">Tracks</a></li>
                <li><a class="login" href="/login">Sign In</a></li>
            </ul>
        </nav>
        <h1>{{name}}</h1>
    </body>
</html>