
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/home_style.css">
    <link rel="stylesheet" href="static/style/tracks_style.css">
    <title>TRACKS</title>
</head>
<body>
    <nav>
        <label class="home"><a href="/">Home</a></label>
        <ul class="navLinks">
            <li><a href="/tracks">Tracks</a></li>
            <li><a class="login" href="/login">Sign In</a></li>
        </ul>
    </nav>
        <ol>
        {% for idx, track in result %}
        <li>
            {{idx+1}}. 
            <a class="track" href="{{track['external_urls']['spotify']}}">{{track["name"]}}</a> by 
            <a class="artist" href="{{track['artists'][0]['external_urls']['spotify']}}">{{track['artists'][0]['name']}}</a>
        </li>
        {% endfor %}
        </ol>
    
    
</body>
</html>
